[submodule "devloper-note"]
	path = devloper-note
	url = https://github.com/TARS-v00-01/devloper-note.git
	branch = master
[submodule "xWalk-rpi5-iw"]
	path = xWalk-rpi5-iw
	url = https://github.com/TARS-v00-01/xWalk-rpi5-iw.git
	branch = master
[submodule "xWalk-rpi5-node"]
	path = xWalk-rpi5-node
	url = https://github.com/TARS-v00-01/xWalk-rpi5-node.git
	branch = master
[submodule "xWalk-rpi5-trace"]
	path = xWalk-rpi5-trace
	url = https://github.com/TARS-v00-01/xWalk-rpi5-trace.git
	branch = master
[submodule "xWalk-rpi5-tool"]
	path = xWalk-rpi5-tool
	url = https://github.com/TARS-v00-01/xWalk-rpi5-tool.git
	branch = master
[submodule "xWalk-rpi5-os"]
	path = xWalk-rpi5-os
	url = https://github.com/TARS-v00-01/xWalk-rpi5-os.git
	branch = master
[submodule "xWalk-rpi5-hw"]
	path = xWalk-rpi5-hw
	url = https://github.com/TARS-v00-01/xWalk-rpi5-hw.git
	branch = master
