# Copy to @@HOME@@/.xwalk-ci.env, replace key paths if needed, and retain mode 0600.
GERRIT_HOST=@@SERVER_IP@@
GERRIT_SERVER_HOST=@@SERVER_IP@@
GERRIT_SSH_PORT=@@SSH_PORT@@
GERRIT_WEB_URL=https://@@SERVER_IP@@:@@HTTPS_PORT@@
GERRIT_USER=xwalk-ci
GERRIT_CI_USERNAME=xwalk-ci
GERRIT_CI_EMAIL=xwalk-ci@example.test
GERRIT_ADMIN_USERNAME=@@ADMIN_USERNAME@@
GERRIT_PROJECT=xWalkPiCarAI
GERRIT_BRANCH=master
GERRIT_VERIFICATION_TARGETS=xWalkPiCarAI:master,DevloperNote:master,xWalkAgent:master,xWalkAudioResources:master,xWalkController:master,xWalkHal:master,xWalk-rpi5-iw:master,xWalkLibrary:master,xWalk-rpi5-tool:master,xWalkTrace:master
GERRIT_SSH_KEY=@@HOME@@/.ssh/id_ed25519_xwalk_ci
GERRIT_UPLIFT_ENABLED=true
GERRIT_UPLIFT_SCRIPT=@@GERRIT_SITE@@/gerrit-tools/shell-script/gerrit-auto-uplift.sh
GERRIT_INTEGRATION_PROJECT=xWalkPiCarAI
GERRIT_INTEGRATION_BRANCH=master
GERRIT_INTEGRATION_BASELINE_REF=master
GERRIT_INTEGRATION_SOURCE_ROOT=xWalk-rpi5-hw
GERRIT_UPLIFT_AUTO_SUBMIT=false
GERRIT_UPLIFT_AUTO_REVIEW=false
GERRIT_REVIEW_USER=
GERRIT_REVIEW_SSH_KEY=@@HOME@@/.ssh/id_ed25519_xwalk_uplift_reviewer
GERRIT_CI_RETRY_ATTEMPTS=3
GERRIT_CI_RETRY_DELAY_SECONDS=5
XWALK_GERRIT_MULTI_REPO_CONFIG=@@GERRIT_SITE@@/gerrit-tools/config/multi-repo.conf
GITHUB_SYNC_SOURCE_PROJECT=xWalkPiCarAI
GITHUB_SYNC_SOURCE_BRANCH=master
GITHUB_INTEGRATION_REMOTE=
GITHUB_INTEGRATION_WEB_URL=
GITHUB_INTEGRATION_BRANCH=master
GITHUB_PUSH_ENABLED=false
GITHUB_DIRECT_PUSH_OWNER_EMAIL=
GITHUB_SSH_KEY=@@HOME@@/.ssh/id_ed25519_xwalk_github_mirror
XWALK_CI_STATE_DIRECTORY=@@HOME@@/gerrit-ci/state
XWALK_CI_LOG_DIRECTORY=@@HOME@@/gerrit-ci/logs
XWALK_UPLIFT_CHANGELOG=@@HOME@@/gerrit-ci/state/uplift-changelog.jsonl
XWALK_CI_LOG_HTTP_HOST=127.0.0.1
XWALK_CI_LOG_HTTP_PORT=8091
XWALK_CI_LOG_WEB_URL=https://@@SERVER_IP@@:@@HTTPS_PORT@@/ci
XWALK_CI_MAX_WORKERS=4
XWALK_CODESCENE_CLI=@@HOME@@/.local/bin/cs
XWALK_CODESCENE_STRICT=false
XWALK_CODESCENE_TIMEOUT_SECONDS=900
CS_ACCESS_TOKEN=
CS_ONPREM_URL=
XWALK_CADDY_TEST_BINARY=
XWALK_CADDY_TEST_ARCHIVE=
