Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  performance-*,
  -performance-trivially-destructible,
  portability-*,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  modernize-loop-convert,
  modernize-use-nullptr,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*(build-(host|rpi)|third_party|auto-gen)).*xWalk(Common|Hal|Agent|CLI)/.*'
FormatStyle: none
